{{- $namespace := env "NAMESPACE" | default "default" -}}
{{- $operatorValues := env "REDIS_OPERATOR_VALUES" -}}
{{- $bundleValues := env "REDISFAILOVER_BUNDLE_VALUES" -}}

helmDefaults:
  wait: true
  createNamespace: false

releases:
  - name: redis-operator
    namespace: {{ $namespace | quote }}
    chart: ./charts/redisoperator
    {{- if $operatorValues }}
    values:
      - {{ $operatorValues | quote }}
    {{- end }}

  - name: redisfailover-bundle
    namespace: {{ $namespace | quote }}
    chart: ./charts/redisfailover-bundle
    needs:
      - {{ printf "%s/%s" $namespace "redis-operator" | quote }}
    {{- if $bundleValues }}
    values:
      - {{ $bundleValues | quote }}
    {{- end }}
