name: Release Charts

on:
  push:
    tags:
      - "chart-v*"
  pull_request:
    branches:
      - 'master'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Relese charts
        uses: bitdeps/helm-oci-charts-releaser@v0.1.4
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            oci_password: ${{ secrets.GITHUB_TOKEN }}
            oci_registry: ghcr.io/powerhome
            oci_username: powerhome
            tag_name_pattern: "{chartName}-helm-chart"
            skip_gh_release: true
